
* {

    box-sizing:border-box;
    margin:0;
    padding:0;
  
  }
  
  html, body {
  
    height:100%;
    width:100%;
  
  }
  
  body {
  


    color:#ffffff;

    justify-content:center;
  
  }
  
  canvas {
  
    background-color:#ffffff;
  
  }