body{
    background: url("home_bg.jpg");
    background-size: cover;
    font-family: 'Luckiest Guy';font-size: 22px;color: white;
}
.bg_gradient 
{
    background-image: linear-gradient(  rgb(143, 14, 1) , #0e0e0e , rgb(143, 14, 14) );
    opacity:0.3;
    position: fixed;
    width: 100%;
    height: 100%;  
   
}
.bg_gradient_b
{
    background-image: linear-gradient(  rgb(1, 63, 143) , #0e0e0e , rgb(14, 74, 143) );
    opacity:0.3;
    position: fixed;
    width: 100%;
    height: 100%;  
   
}
.pg_footer
{
    background-color: black;
    z-index: 20;
    opacity: 0.5;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
}
.nav_bar
{
    font-size: 26px;
    background-color: black;
}
.nav_link
{
    color: white;
    text-shadow: 10px 10px 20px black, 0 0 60px red, 0 0 20px darkred;
}
.nav_link_b
{
    
    color: white;
    text-shadow: 10px 10px 20px black, 0 0 60px rgb(0, 47, 255), 0 0 20px rgb(0, 130, 139);
}
a:hover
{
    background-color: rgba(255, 0, 0, 0.5);
    color:white;
}
.active
{
    background-color: rgba(255, 0, 0, 0.5);
}
.active_b
{
    background-color: rgba(0, 102, 255, 0.5);
}
.glow
{
    text-shadow: 10px 10px 20px black, 0 0 60px red, 0 0 20px darkred;
}
.glow_b
{
    text-shadow: 10px 10px 20px black, 0 0 60px rgb(0, 47, 255), 0 0 20px rgb(0, 130, 139);
}
/*--css for forms--*/
input[type=submit]:hover 
{
    background-color: #881414;
    border-color:  rgb(187, 34, 34);
}
input[type=submit] 
{

    background-color: rgb(187, 34, 34);
    color: white;
    border-color:  rgb(187, 34, 34);
}
input[type=password]
{
    background-color:rgba(12, 11, 11, 0.616) ;
    border:rgba(0, 0, 0, 0.644);
    border-bottom: 1px solid rgb(139, 5, 5);
}
input[type=password]:focus
{
    background-color:rgba(12, 11, 11, 0.616) ;
    border:rgba(0, 0, 0, 0.644);
    border-bottom: 1px solid rgb(139, 5, 5);
    outline: none;    

}
input[type=text]
{
    background-color:rgba(12, 11, 11, 0.616) ;
    border:rgba(0, 0, 0, 0.644);
    border-bottom: 1px solid rgb(139, 5, 5);
}
input[type=text]:focus
{
    background-color:rgba(12, 11, 11, 0.616) ;
    border:rgba(0, 0, 0, 0.644);
    border-bottom: 1px solid rgb(139, 5, 5);
    outline: none;    
}
input[type=email]
{
    background-color:rgba(12, 11, 11, 0.616) ;
    border:rgba(0, 0, 0, 0.644);
    border-bottom: 1px solid rgb(139, 5, 5);
}
input[type=email]:focus
{
    background-color:rgba(12, 11, 11, 0.616) ;
    border:rgba(0, 0, 0, 0.644);
    border-bottom: 1px solid rgb(139, 5, 5);
    outline: none;    
}
/*-------*/
